body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

.profile-photo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.contact-info h1 {
    margin: 0;
    font-size: 2em;
}

.contact-info p {
    margin: 5px 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    animation: fadeIn 2s;
}

h2 {
    color: #007BFF;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
